flake8
flake8
flake8-black
scipy
numpy
pytest
pytest-flake8
pytest-html
pytest-metadata
pytest-pylint
pytest-reportlog
flake8-docstrings
flake8-html
pep8-naming
flake8-variables-names
flake8-fastapi
flake8-eradicate
sphinx
sphinxcontrib-mermaid
sphinx-rtd-theme
myst_parser
linkify-it-py
docutils
jinja2
markdown-it-py
mdit-py-plugins
sphinx-rtd-dark-mode
sphinx-autodoc2
pyyaml
uvicorn[standard]
fastapi
motor
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic-settings
dacite

